body {
    background-color: black;
}

.total {
    background-color: rgb(238, 216, 0) !important;
    border-radius: 100px;
}

.card {
    border: none;
    background-color: rgb(28, 26, 34) !important;

}

.card-body {
    background-color: rgba(245, 242, 52, 0.767) !important;
    border: none !important;
}

button {
    text-decoration: none !important;
    background-color: rgb(30, 34, 26) !important;
    border: none !important;
}

.message {
    color: white;
}

.message1 {
    align-items: center;
    color: black;
}